.album {
    &__text {
        text-align: center;
        margin: 2rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }

    &__subtitle {
        font-size: .8rem;
        color: $gray-two;
        margin-bottom: 1rem;
    }

    &__img {
        border-radius: 5px;

        &:hover {
            box-shadow: 0 0 5px rgba(4, 17, 42, 0.5);
            opacity: .8;
        }
    }

    &__name {
        font-size: 14px;
        margin-top: 1rem;
        text-align: center;
    }
}