.container {
    display: flex;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    a {
        text-decoration: none;
        text-transform: capitalize;
        padding: .5rem;
    }

    &__profile {
        border-radius: 50%;
    }

    &__text {
        padding: 1rem;
    }

    &__name-artist {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    &__fan {
        font-size: .9rem;
        margin-bottom: 1rem;
        color: $gray-two;
    }
}