.container {
  display: flex;
}

.content {
  margin-left: 250px;
}

.detail {
  display: flex;
  align-items: center;
  margin: 2rem;

  a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem;
  }

  &__profile {
    border-radius: 50%;
  }

  &__text {
    padding: 1rem;
  }

  &__name-artist {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__fan, &__album {
    font-size: 0.9rem;
    margin-bottom: .5rem;
    color: $gray-two;
  }
}